apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: msa-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      nodeSelector:
        kubernetes.io/hostname: jun
      containers:
        - name: gateway
          image: 100.67.243.29:30500/gateway:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: msa-config
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "300m"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: msa-platform
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30000
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: gateway-hpa
  namespace: msa-platform
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: gateway
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
