server:
  port: 8086
spring:
  application:
    name: book-service
  datasource:
    url: jdbc:mysql://localhost:3306/book_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    enabled: false
jwt:
  secret: your-256-bit-secret-key-for-jwt-token-generation-min-32-chars
